{% extends "page/base.html" %}
{% block body %}
<div class="body-all">
  <div class="row">
    <div class="col">
      <div class="info-page">
        <div class="title-info">
          <h2 style="padding:10px;">ABOUT HACKER LEARN</h2>
          <hr style="background:rgb(31, 168, 220);border-width:3px;width:25%;">
        </div>
        <div class="body-info">
          <div class="row">
            <div class="col-xl-4">
              <div class="img-body-info">
                <img src=""> </img>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="content-body-info">
                <span>
                  This is a forum to share documents and knowledge about information technology such as: hacking, code, system, web,... You can access all documents in the above areas. If you want support, join our Discord team: <a href="https://discord.gg/ktSQrg">https://discord.gg/ktSQrg</a>
                </span><br><br>
                <span>
                  00 was founded in 2019 with the idea of sharing knowledge of IT enthusiasts. Includes rich articles, with videos for you to understand better. In addition 00 also shares the tools from the programming knowledge obtained
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="hack">

  </div>
</div>
{% endblock %}
