{% extends "page/index.html" %}
{% block path_page %}
<div class="path-page">
  <div class="sub-icon-home"><a href="{% url 'register' %}"><i class="fas fa-user-plus"></i></a></div>
  <div class="pad"><span class="pad-v"></span></div>
</div>
{% endblock %}
{% block body %}
    <center>
        <form action='.' method='POST' class='forms-register'>
            {% csrf_token %}
            {% for non_field_error in form.non_field_errors %}
                <p>{{ non_field_error }}</p>
            {% endfor %}
            {% for field in form %}
                <div class='form-register'>
                        <label for="{{ field.id_for_label }}" class="label"> {{ field.html_name }}</label>
                        <div>
                        {{ field }}
                        </div>
                </div>
            {% endfor %}
            <input type='submit' value='Đăng Kí'/>
        </form>
    </center>

{% endblock %}
